[Unit]
Description=3Laws Diagnostic Module - docker container
Requires=docker.service
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=exec
Restart=on-failure
RestartSec=10
User=@USERID@
Group=@GROUPID@
ExecStart=docker run --rm --name 3laws_rdm @DOCKER_IMAGE_LINK@
KillSignal=SIGINT
TimeoutSec=10

[Install]
WantedBy=multi-user.target
