# v0.1.0
[Unit]
Description=3Laws Diagnostic Module - docker container
Requires=docker.service
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=@USERID@
Group=@GROUPID@
ExecStartPre=docker compose -f @DOCKER_COMPOSE_PATH@ down
ExecStart=docker compose -f @DOCKER_COMPOSE_PATH@ up --abort-on-container-exit
ExecStop=docker compose -f @DOCKER_COMPOSE_PATH@ down
TimeoutSec=10

[Install]
WantedBy=multi-user.target
