[Unit]
Description=3Laws Diagnostic Module - docker container
Requires=docker.service
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=@USERID@
Group=@GROUPID@
ExecStartPre=docker compose -f @DOCKER_COMPOSE_LINK@ down
ExecStart=docker compose -f @DOCKER_COMPOSE_LINK@ up
ExecStop=docker compose -f @DOCKER_COMPOSE_LINK@ down
TimeoutSec=10

[Install]
WantedBy=multi-user.target
